.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    position: fixed;
    height: 100vh;
    z-index: 100;
}

.header a {
    text-decoration: none;
    color: black;
    height: fit-content;
    font-size: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.child,
.child0,
.child2 {
    display: flex;
}

.child {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.child0,
.child,
.child2 {
    background-color: black;
    color: #F2E5D7;
    padding: 0.625rem;
    border-radius: 50px;
    transition: 2.5s;
    height: 2.625rem;
    max-width: 2.625rem;
}

.nav_text {
    display: none;
}

.child0:hover,
.child:hover,
.child2:hover {
    max-width: 500px;
}

.nav_text {
    padding: 0.2rem 1rem 0 1rem;
}

.child0:hover>.nav_text,
.child:hover>.nav_text,
.child2:hover>.nav_text {
    display: block;
}

.res {
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    .header {
        flex-direction: row;
        width: 100vw;
        justify-content: space-around;
        height: fit-content;
        align-items: center;
    }

    .nav {
        flex-direction: row;

    }

    .child {
        margin: 0 10px;
    }
}